:root {
  /* ---------- COLOR ---------- */

  --white: white;
  --black: black;

  --g-light: hsl(236, 72%, 79%);
  --g-dark: hsl(237, 63%, 64%);

  --c-main-lighter: hsl(240, 78%, 98%);
  --c-main-light: hsl(234, 14%, 74%);
  --c-main: hsl(233, 13%, 49%);
  --c-main-dark: hsl(232, 13%, 33%);

  /* ---------- FONT ---------- */

  --ff-main: "Montserrat", sans-serif;

  --fs-400: 0.938rem;

  /* ---------- SPACE ---------- */

  --mobile: 375px;
  --max-width: 1440px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: black;
    --black: white;
    --c-main-dark: hsl(234, 14%, 74%);
    --c-main-lighter: hsl(232, 13%, 33%);
  }
}
